@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-98 {
    width: 98%;
  }
}

@layer base {
  html,
  body {
    @apply text-white bg-primary m-0 p-0 w-screen h-screen border-2 border-black;
  }
}

h1 {
  @apply text-4xl text-center font-bold;
}
h2 {
  @apply text-2xl text-center font-bold;
}
h3 {
  @apply text-xl text-center font-bold;
}
h3 {
  @apply text-lg text-center font-bold;
}
h4 {
  @apply text-base text-center font-bold;
}
h5 {
  @apply text-sm text-center font-bold;
}
h6 {
  @apply text-xs text-center font-bold;
}

i {
  @apply italic;
}

@layer components {
  .page-container {
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  .card {
    margin-top: 5rem;
    margin-left: 5rem;
    background-color: theme('colors.sky.400');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.2xl');
    width: 30%;
  }
}

.form-field {
  @apply m-1 flex flex-col;
}

.gl-input-field {
  @apply border rounded px-4 py-2 text-sky-600;
}

.gl-input-field:focus {
  @apply outline-secondary-accent;
}

.cursor-pointer {
  cursor: pointer;
}
